@model IEnumerable<ASDOTNET_DBFirst.Classroom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capcity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.className)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capcity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassroomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassroomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassroomID })
        </td>
    </tr>
}

</table>
